@{
  Layout = "_Layout";
}

<h4>Add a new order to @Model.Name</h4>

<form action="/vendors/@Model.ID/orders" method="post">
  <input id="vendorID" name="vendorID" type="hidden" value="@Model.ID">
  <label for="orderTitle">Title of Order:</label>
  <input type="text" name="orderTitle" id="orderTitle" required>
  <br>
  <label for="orderDescription">Describe Order:</label>
  <input type="text" name="orderDescription" id="orderDescription">
  <br>
  <label for="orderQuantity">Quantity of Order:</label>
  <input type="number" name="orderQuantity" id="orderQuantity">
  <br>
  <label for="orderPrice">Price of Order:</label>
  <input type="number" name="orderPrice" id="orderPrice">
  <br>
  <label for="orderDeliveryDate">Enter Date of Delivery:</label>
  <br>
  <input type="date" name="orderDeliveryDate" id="orderDeliveryDate">
  <br>
  <button class="button" type="submit">Add new order</button>
</form>

<a href="/">Back to Home</a>