@{
  Layout = "_Layout";
}

<form action="/vendors" method="post">
  <label for="vendorName">Vendor's Name:</label>
  <input type="text" name="vendorName" id="vendorName" required>
  <br>
  <label for="vendorDescription">Describe Vendor:</label>
  <input type="text" name="vendorDescription" id="vendorDescription">
  <br>
  <button class="button" type="submit">Add new vendor</button>
</form>

<a href="/vendors">See list of vendors</a>
<a href="/">Back to Home</a>