@{
  Layout = "_Layout";
}

<h1>Welcome!</h1>
<h4>This web application keeps track of vendors and their orders for
  <br>
  <span class="bakery-name">Della's Bakery.</span>
</h4>
<h4>Click on one of the links below to get started!</h4>

<a href="/vendors/new">Add a vendor</a>
<a href="/vendors">See list of vendors</a>